<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>Dropdown</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Select</servlet-name>
        <servlet-class>main.java.servlet.Select</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>select</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dynamic</servlet-name>
        <servlet-class>main.java.servlet.Dynamic</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Dynamic</servlet-name>
        <url-pattern>dynamic</url-pattern>
    </servlet-mapping>
</web-app>